{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Abhinav Pandey - Resume</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="Resume of Abhinav pandey"/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/headshot.png' %}" alt="Abhinav Pandey" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Abhinav Pandey</h1>
			<h2 class="quickFade delayThree">Python/Django Developer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <a href="mailto:amazed.abhi15@bloggs.com" target="_blank">amazed.abhi15@gmail.com</a></li>
				<li>w: <a href="http://www.amazedabhi.online">www.amazedabhi.online</a></li>
				<li>m: +91 7834853995</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>Python/Django Developer with over 1.5 years of experience. Excellent
						reputation for resolving problems, improving customer satisfaction, and
						driving overall operational improvements. Consistently saved costs while
						increasing profits.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Python Developer at Cians Analytics Pvt Ltd</h2>
					<p class="subDetails">September 2019 - Present</p>
					<p>Worked on content management website for dataset maintenance and
						file automation alerts as well as ETL processes.
						<br> <b>Technologies:</b> Python, Django, Rest APIs,ngnix,gunicorn,AWS</p>
				</article>
				
				<article>
					<h2>Django Developer at Nucleus Software Exports Ltd</h2>
					<p class="subDetails">August 2018 - September 2019</p>
					<p>Built Analytics Dashboard to help the sales team analyze/visualize sales.
						Developed accounting and invoicing tools in admin to record sales.
						Created team-specific tools like beat planner, retailer incentives,
						distributors portal etc.
						<br> <b>Technologies:</b>  Python, Django, Rest APIs, HTML/CSS,
						Javascript, Bootstrap</p>
				</article>
				
				<article>
					<h2>Software Engineer at Nucleus Software Exports Ltd</h2>
					<p class="subDetails">August 2016 - August 2018</p>
					<p>CRAF Brazil
						Making new interfaces for a process called
						passthrough for non securitized contracts whose
						partial or no payment has been received through the
						client
						<br> <b>Role and Responsibilities: </b> 
						Created PL/SQL, Procedure, Function,Packages and
						Triggers.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>HTML/CSS</li>
					<li>Javascript</li>
					<li>Python</li>
					<li>Django</li>
					<li>SQL</li>
					<li>AWS EC2/S3</li>
					<li>gunicorn</li>
					<li>nginx</li>
					<li>supervisor</li>
					<li>MySQL/Oracle</li>
					<li>PL/SQL</li>
					<li>JIRA</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>MJP Rohilkhand University</h2>
					<p class="subDetails">Master of Computer Application</p>
					<h6>08/2012 - 07/2015</h6>
					<p>CGPA-8.88</p>
				</article>
				
				<article>
					<h2>Kumaun University</h2>
					<p class="subDetails">Bachelor of Science</p>
					<h6>08/2008 - 06/2011</h6>
					<p>Percentage-60.52%</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>
